body {
  margin: 0;
  padding: 0;
  background: url("../Photos/services-background-image1.jpg") no-repeat center center fixed;
  background-size: cover;
}

input[type="submit"]:hover {
  background-color: #035f18;
} 

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.left-column {
  width: 50%; /* Adjust the width as needed */
}

.form-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 100%; /* Make inputs 100% wide */
}

.form-column label {
  margin-bottom: 5px;
}

.form-column input,
.form-column select,
.form-column textarea {
  width: 100%;
  box-sizing: border-box;
}

.right-column {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the content */
  width: 50%; /* Adjust the width as needed */
}

.right-column #datePickerContainer {
  width: 100%; /* Set the width to 100% */
  display: flex;
  justify-content: center; /* Move the date picker to the center */
}



/* #datePickerContainer {
  width: 50%; 
  display: flex;
  justify-content: center; 
  margin-top: 10px;
} */


.right-column .form-column {
  align-self: center; /* Center align the form column within the right column */
  width: 35%; /* Adjust the width as needed */
}

/* .right-column .form-column select {
  align-self: flex-end; 
}


.right-column .form-column label {
  text-align: center; 
} */



main {
  margin-bottom: 20px;
}