body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

nav {
	display: inline-block;
}

nav a {
	color: #fff;
	text-decoration: none;
	padding: 10px;
}

nav a:hover {
	background-color: #555;
}

main {
	padding: 20px;
	background-color: #f7f7f7;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.service {
	width: 300px;
	margin: 20px;
	background-color: #000000;
    filter: alpha(opacity=25);
    opacity: 0.25;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    color: #f7f7f7;
    }
    
    .service img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    }
    
    .service h3 {
    margin: 20px;
    }
    
    .service p {
    margin: 0 20px 20px 20px;
    }
    
    .service ul {
    margin: 0 20px 20px 20px;
    padding-left: 20px;
    }