.services-background {
    background-image: url('../Photos/safety.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px; /* Adjust the height as needed */
}