.float_right {
    padding-right: 300px;
    cursor: default;

}

.floating-box {
    float: left;
    width: 150px;
    height: 75px;
    margin: 0 10% 0 10%;
    cursor: default;

}

.img_class {
    margin-top: 10%;
    position: relative;
    border-radius: 8px;
    cursor: default;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid grey;
    border-image-outset: 10px;
}

.container {
    text-align: center;
    padding: 10px 20px;
    cursor: default;

}

.li_dropdown_home {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#banner {
    background-image: url('../Photos/background-image.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.button {
    background-color: #06a82b;
    color: #eff1f5;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

#services {
    background-color: #FFFFFF;
    padding: 50px;
}

#services ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#services li {
    margin: 10px 0;
    font-size: 18px;
}

#about {
    background-color: #F2F2F2;
    padding: 50px;
}

#about p {
    font-size: 18px;
    line-height: 1.5;
}

footer {
    background-color: #333333;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
}

#button_drop_down_trip {
    float: left;
}

#info_package {
    float: left;
    color: vlack;
    font-size: large;
    font-family: "Times New Roman", Georgia, Serif;
}

.p_class {
    float: left;
    color: black;
    font-size: large;
    font-family: "Times New Roman", Georgia, Serif;
}

.display_class {
    visibility: hidden;
    display: none;
}

.display_button {
    background: transparent;
    border: none !important;
    font-size: 0;
}

li:hover {
    font-family: cursive;
}
