#chage_profile_form{
    background: -webkit-gradient(linear, bottom, left 175px, from(#CCCCCC), to(#EEEEEE));
    background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
    margin:auto;
    position:relative;
    width:450px;
    height:300px;
    /* font-family: Tahoma, Geneva, sans-serif; */
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: #09C;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#save_info_button {
    margin-top : 10px;
    margin-left: 295px;
}

input{
     float: right;
    clear: right;
    width: 300px;
}

#save_changes_my_profile_bttn{
    float: right;
    clear: right;
}
#phone_num{
}

.table-highlight tr.selected {
    background-color: #a9ccf5;
}

table {
    margin: 0 auto;
}

table td, table th {
    text-align: center;
}
