
.calendar {
  margin-top: 40px;
  border: 1px solid #ccc;
  padding: 10px;
}

.datepicker-dropdown {
  border: none;
  box-shadow: none;
}

.input-group-text {
  background-color: transparent !important;
  color: #333;
  border: none;
  border-left: 1px solid #ccc;
  border-right: none;
  width: 1px;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.input-group-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
  background-color: #ccc;
  transform: translateX(-50%);
}

body {
  font-family: Arial, sans-serif;
  background-image: url("background-image.jpg");
  background-size: cover;
  background-position: center;
}

